<div class="main user-show">
  <div class="container">

    <!-- Display an actor's info here -->
    <div class="user">
      <!-- actor image -->
      <div class="info">
        <h3 class="user-name">  </h3>
        <p class="actor-bio">  </p>
      </div>
    </div>

    <h2>APParel User</h2>
    <!-- Display each Users garment's info here -->
    <div class="garments">
      <!-- movie image -->

    </div>

  </div>
</div>
