<h1>Welcome to APParel - the clothes swapping APP</h1>



  <table class="front" summary="For signed-in users">
    <tr>
      <td class="main">
        <h1 class="micropost">What's up?</h1>

      </td>
      <td class="sidebar round">

      </td>
    </tr>
  </table>




<p>

</p>
