<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>APParel clothes swapping APP</title>
  </head>
  <body>

<div id="container">

<h1>Did you know?</h1>
<p>The average person only wears 40% of their clothes
- Of the clothes that go to charity, it is estimated that only 15% are resold within Australia
- The rest are sent to landfill or overseas to developing nations
- In landfill, decomposing materials can take up to hundreds of years to break down whilst releasing the toxic greenhouse gas methane
In Australia, 6000 kilograms of textiles are dumped in landfill every 10 minutes.
</p>
</div>
  </body>
</html>
